.App {
    @size: 350px;
    .Title {
        background: @TitleColor;
        color: #ffffff;
        h1 {
            text-align: center;
        }
    }
    .User {
        background: @BgColor;
        .diver {
            border-right: 1px #aaa solid;
            height: @size;
            width: 0px;
            margin: auto;
        }
        .Login, .Register {
            height: @size;
            border-radius: 5px;
        }
    }
    h6 {
        padding: 20px;
        text-align: center;
    }
}
