@TitleColor:    #2C3D4F;
@AppColor:      #34495D;
@BgColor:       #F8F6F6;

body, img, div, section {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#app {
    background: @AppColor;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

@import './App.less';
@import './Note.less';
